@using DotNetFloripa.Model;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Company[]>
@section seo {
    <meta name="description" content="Empresas que trabalham com .NET em Florianópolis">
}
@section facebook{
    <meta property="og:title" content="Empresas de .NET em Floripa" />
    <meta property="og:description" content="Empresas que trabalham com .NET em Florianópolis" />
    <meta property="og:image" content="https://i.imgur.com/xj6ievV.png" />
}
<div class="row">
    @foreach (var c in Model)
    {
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <div class="col-md-3" style="height:250px;">
                        <img src="@c.LogoUrl" alt="logo" class="img-responsive img-centered" />
                    </div>
                    <div class="col-md-9">
                        <h2>
                            <a href="@c.Site" target="_blank">@c.Name</a>
                        </h2>
                        <p>
                            @c.Description
                        </p>
                        <hr />
                        <p class="text-right"><small>@c.Address</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>