@using DotNetFloripa.Model;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Event[]>
@{
    ViewBag.Title = "Eventos de .NET em Floripa!";
}
@section seo {
    <meta name="description" content="Eventos de .NET em Floripa">
}
@section facebook {
    <meta property="og:title" content="Eventos de .NET em Floripa" />
    <meta property="og:description" content="Eventos de .NET em florianópolis" />
    <meta property="og:image" content="https://i.imgur.com/TenXCml.png" />
}
<div class="row">
    @foreach (var e in Model)
    {
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <div class="col-md-3" style="height:150px;">
                        <img src="@e.ImageUrl" alt="logo" class="img-responsive img-centered" />
                    </div>
                    <div class="col-md-9">
                        <h4 class="pull-right hidden-xs">
                            <strong>@e.Start.ToShortDateString()</strong> - <strong>@e.Start.ToShortTimeString()</strong> - <strong>@e.End.ToShortTimeString()</strong>
                        </h4>
                        <h2>
                            <a href="~/evento/@e.Slug" target="_blank">@e.Title</a>
                        </h2>
                        <p class="visible-xs">
                            <strong>@e.Start.ToShortDateString()</strong> - <strong>@e.Start.ToShortTimeString()</strong> - <strong>@e.End.ToShortTimeString()</strong>
                        </p>
                        <p>
                            @e.Description
                        </p>
                        @if (!String.IsNullOrEmpty(e.EventickUrl))
                        {
                            <div>
                                <a href="@e.EventickUrl" class="btn btn-success btn-lg btn-large"><strong>Inscreva-se!</strong></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>